In [1]:
import spacy

In [2]:
nlp= spacy.blank("en")
doc= nlp("Dr. Strange defeats Superman in the Battle of N.Y.")

In [3]:
for token in doc:
  print(token)

Dr.
Strange
defeats
Superman
in
the
Battle
of
N.Y.

In [4]:
doc[0]

Dr.

In [5]:
doc2=nlp('''"Let's go to N.Y.!"''')
print(doc2.text)

"Let's go to N.Y.!"

In [6]:
for token in doc2:
     print(token)

"
Let
's
go
to
N.Y.
!
"

In [7]:
span=doc[0:4]
span

Dr. Strange defeats Superman

In [9]:
with open("students.txt") as f:
  text= f.readlines()
text

['Dayton high school, 8th grade students information\n',
 '==================================================\n',
 '\n',
 'Name\tbirth day   \temail\n',
 '-----\t------------\t------\n',
 'Virat   5 June, 1882    virat@kohli.com\n',
 'Maria\t12 April, 2001  maria@sharapova.com\n',
 'Serena  24 June, 1998   serena@williams.com \n',
 'Joe      1 May, 1997    joe@root.com)']

In [10]:
text= ' '.join(text)
text

'Dayton high school, 8th grade students information\n ==================================================\n \n Name\tbirth day   \temail\n -----\t------------\t------\n Virat   5 June, 1882    virat@kohli.com\n Maria\t12 April, 2001  maria@sharapova.com\n Serena  24 June, 1998   serena@williams.com \n Joe      1 May, 1997    joe@root.com)'

In [11]:
doc3=nlp(text)
emails=[]
for token in doc3:
  if token.like_email:
    emails.append(token.text)

emails

['virat@kohli.com',
 'maria@sharapova.com',
 'serena@williams.com',
 'joe@root.com']

In [12]:
nlp.add_pipe('sentencizer')

In [13]:
doc= nlp("Iron man is in USA. Hulk is in Europe.")
for sentence in doc.sents:
  print(sentence)

Iron man is in USA.
Hulk is in Europe.

In [14]:
text='''
Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/,
and the European Social Survey at http://www.europeansocialsurvey.org/.
'''

In [15]:
text

'\nLook for data to help you address the question. Governments are good\nsources because data from public research is often freely available. Good\nplaces to start include http://www.data.gov/, and http://www.science.\ngov/, and in the United Kingdom, http://data.gov.uk/.\nTwo of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/, \nand the European Social Survey at http://www.europeansocialsurvey.org/.\n'

In [16]:
doc= nlp(text)
urls=[]
for token in doc:
  if token.like_url:
    urls.append(token.text)

urls

['http://www.data.gov/',
 'http://www.science',
 'http://data.gov.uk/.',
 'http://www3.norc.org/gss+website/',
 'http://www.europeansocialsurvey.org/.']

In [17]:
transactions = "Tony gave 20 $ to Peter, Bruce gave 500 € to Steve"

token.i for index of token and is_currency for currency symbol detection

In [18]:
doc= nlp(transactions)
for token in doc:
  if token.like_num and doc[token.i+1].is_currency:
    print(token.text,doc[token.i+1].text)

20 $
500 €

# Pipeline

In [19]:
nlp= spacy.load("en_core_web_sm")

In [24]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [22]:
doc= nlp("Dr. Strange defeats Superman in the Battle of N.Y.")
for token in doc:
  print(token," | ",token.pos_," | ",token.lemma_)

Dr.  |  PROPN  |  Dr.
Strange  |  PROPN  |  Strange
defeats  |  VERB  |  defeat
Superman  |  PROPN  |  Superman
in  |  ADP  |  in
the  |  DET  |  the
Battle  |  PROPN  |  Battle
of  |  ADP  |  of
N.Y.  |  PROPN  |  N.Y.

In [25]:
# Process a text
doc = nlp("Apple is looking at buying U.K. startup for $1 billion")

for ent in doc.ents:
    print(ent.text, ent.label_)

Apple ORG
U.K. GPE
$1 billion MONEY