In [1]:
import spacy

In [7]:
nlp= spacy.blank("en")
doc= nlp("Dr. Strange defeats Superman in the Battle of N.Y.")

In [8]:
for token in doc:
  print(token)

Dr.
Strange
defeats
Superman
in
the
Battle
of
N.Y.

In [9]:
doc[0]

Dr.

In [11]:
doc2=nlp('''"Let's go to N.Y.!"''')
print(doc2.text)

"Let's go to N.Y.!"

In [12]:
for token in doc2:
     print(token)

"
Let
's
go
to
N.Y.
!
"

In [16]:
span=doc[0:4]
span

Dr. Strange defeats Superman

In [20]:
with open("students.txt") as f:
  text= f.readlines()
text

['Dayton high school, 8th grade students information\n',
 '==================================================\n',
 '\n',
 'Name\tbirth day   \temail\n',
 '-----\t------------\t------\n',
 'Virat   5 June, 1882    virat@kohli.com\n',
 'Maria\t12 April, 2001  maria@sharapova.com\n',
 'Serena  24 June, 1998   serena@williams.com \n',
 'Joe      1 May, 1997    joe@root.com)']

In [21]:
text= ' '.join(text)
text

'Dayton high school, 8th grade students information\n ==================================================\n \n Name\tbirth day   \temail\n -----\t------------\t------\n Virat   5 June, 1882    virat@kohli.com\n Maria\t12 April, 2001  maria@sharapova.com\n Serena  24 June, 1998   serena@williams.com \n Joe      1 May, 1997    joe@root.com)'

In [24]:
doc3=nlp(text)
emails=[]
for token in doc3:
  if token.like_email:
    emails.append(token.text)

emails

['virat@kohli.com',
 'maria@sharapova.com',
 'serena@williams.com',
 'joe@root.com']

In [25]:
nlp.add_pipe('sentencizer')

In [26]:
doc= nlp("Iron man is in USA. Hulk is in Europe.")
for sentence in doc.sents:
  print(sentence)

Iron man is in USA.
Hulk is in Europe.

In [30]:
text='''
Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/,
and the European Social Survey at http://www.europeansocialsurvey.org/.
'''

In [32]:
text

'\nLook for data to help you address the question. Governments are good\nsources because data from public research is often freely available. Good\nplaces to start include http://www.data.gov/, and http://www.science.\ngov/, and in the United Kingdom, http://data.gov.uk/.\nTwo of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/, \nand the European Social Survey at http://www.europeansocialsurvey.org/.\n'

In [33]:
doc= nlp(text)
urls=[]
for token in doc:
  if token.like_url:
    urls.append(token.text)

urls

['http://www.data.gov/',
 'http://www.science',
 'http://data.gov.uk/.',
 'http://www3.norc.org/gss+website/',
 'http://www.europeansocialsurvey.org/.']

In [34]:
transactions = "Tony gave 20 $ to Peter, Bruce gave 500 € to Steve"

token.i for index of token and is_currency for currency symbol detection

In [35]:
doc= nlp(transactions)
for token in doc:
  if token.like_num and doc[token.i+1].is_currency:
    print(token.text,doc[token.i+1].text)

20 $
500 €